exportPattern("^[[:alpha:]]+")
import(r4ss)
import(dplyr)
import(purrr)
import(reshape2)
import(here)
import(ggplot2)
import(stringr)
import(RPushbullet)
importFrom("stats", "na.omit", "rlnorm", "rmultinom", "rnorm")
importFrom("utils", "tail")